.Dashboard {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 20px 20px 0 20px;
  position: relative;
  background-color: var(--bgColor-1);
  > .left {
    width: calc(25% - 0.5rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--pannelColor);
    height: calc(100vh - 40px);
    overflow-y: scroll;
    border-radius: 20px;
    gap: 2rem;
    .logo {
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      img {
        width: 40px;
        height: 40px;
      }
      h1 {
        font-weight: 500;
        color: var(--textColor-1);
        font-size: 1.5rem;
      }
    }
    nav {
      flex: 5;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      flex-direction: column;
      button {
        cursor: pointer;
        transition: var(--transition);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        border: none;
        font-size: 1.1rem;
        color: var(--textColor-1);
        background-color: transparent;
        padding: 10px 0 10px 10px;
        border-left: 2px solid transparent;
        h3 {
          font-weight: 400;
          font-size: 0.9rem;
        }
      }
      button:hover {
        color: var(--secColor-2);
        background-color: var(--pannelHoverColor);
        border-left-color: var(--secColor-2);
      }
      button.active {
        color: var(--secColor-2);
        background-color: var(--pannelHoverColor);
        border-left-color: var(--secColor-2);
      }
    }
    .btns {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 0.5rem;
      button {
        transition: var(--transition);
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: var(--pannelHoverColor);
        color: var(--textColor-1);
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        h3 {
          font-size: 0.9rem;
          font-weight: 400;
        }
      }
      button:hover {
        background-color: var(--secColor-2);
        color: #fff;
      }
      button.active {
        background-color: var(--secColor-2);
        color: #fff;
      }
    }
  }
  > .right {
    width: calc(75% - 0.5rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      width: 100%;
      .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        .menu {
          display: none;
        }
        .heading {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 0.2rem;
          flex-direction: column;
          h3 {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--textColor-1);
          }
          h5 {
            font-size: 0.8rem;
            font-weight: 500;
            color: var(--textColor-2);
          }
        }
      }
      .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        .search {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.1rem;
          color: var(--textColor-2);
          border: 1px solid var(--borderColor-1);
          border-radius: 5px;
          padding: 10px;
          input {
            border: none;
            font-size: 0.9rem;
            color: var(--textColor-1);
            font-weight: 400;
            background: transparent;
          }
          input:placeholder-shown {
            color: var(--textColor-2);
          }
          input:focus {
            outline-width: 0;
          }
          input:-webkit-autofill,
          input:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
          }
          input:-webkit-autofill {
            -webkit-text-fill-color: var(--textColor-1);
          }
          input[data-autocompleted] {
            background-color: transparent !important;
          }
        }
        .notification {
          background-color: var(--pannelHoverColor);
          color: var(--textColor-1);
          font-size: 1.5rem;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          cursor: pointer;
          transition: var(--transition);
        }
        .notification:hover {
          color: var(--bgColor-1);
          background-color: var(--secColor-2);
        }
        .profile {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          border-radius: 5px;
          border: 1px solid var(--textColor-2);
          padding: 3px;
          color: var(--textColor-2);
          font-size: 1rem;
          img {
            width: 35px;
            height: 35px;
            border-radius: 5px;
          }
          .content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 0.1rem;
            h3 {
              font-size: 0.9rem;
              font-weight: 400;
              color: var(--textColor-1);
            }
            h5 {
              font-size: 0.7rem;
              font-weight: 300;
              color: var(--textColor-2);
            }
          }
        }
      }
    }
    .box {
      width: 100%;
      overflow-y: scroll;
    }
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(10px);
}
.options {
  width: 200px;
  position: absolute;
  top: 30px;
  z-index: 12;
  right: 20px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  align-items: center;
  flex-direction: column;
  background-color: var(--bgColor-1);
  border-radius: 10px;
  padding: 10px;
  gap: 0.5rem;
  .option:last-child {
    color: var(--textColor-3);
    font-size: 1.2rem;
  }
  .option:last-child:hover {
    color: var(--textColor-3);
  }
  .option:hover {
    background-color: var(--secColor-2);
    color: var(--bgColor-1);
  }
  .option {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: var(--transition);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    color: var(--textColor-1);
    h3 {
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
}

.Settings {
  width: 100%;
  border: 1px solid var(--borderColor-1);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  .setting {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--borderColor-1);
    padding-bottom: 10px;
    .left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.2rem;
      h3 {
        font-size: 1.1rem;
        font-weight: 400;
        color: var(--textColor-1);
      }
      h5 {
        font-size: 0.8rem;
        font-weight: 300;
        color: var(--textColor-2);
      }
    }
    .right {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .select {
        border-radius: 5px;
        padding: 5px;
        background-color: var(--pannelHoverColor);
        color: var(--textColor-1);
        font-size: 0.9rem;
        font-weight: 300;
        border: none;
      }
      .select:focus {
        outline-width: 0;
      }
    }
  }
}


@media screen and (min-width:1599px){
  .Dashboard{
    >.left{
      width: calc(15% - 0.5rem);
    }
    >.right{
      width: calc(85% - 0.5rem);
    }
  }
}
/* Tablets */
@media screen and (max-width: 999px) {
  .Dashboard {
    > .left {
      position: absolute;
      z-index: 1;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      transition: var(--transition);
      padding-top: 5rem;
      border-radius: 0;
    }
    > .left.active {
      left: 0;
    }
    > .left.active + .right {
      .header {
        .menu {
          .bar {
            background-color: transparent;
          }
          .bar::after {
            transform: translateY(0) rotate(45deg);
          }
          .bar::before {
            transform: translateY(0) rotate(135deg);
          }
        }
      }
    }
    > .right {
      width: 100%;
      overflow: visible;
      .header {
        .left {
          .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid var(--secColor-1);
            padding: 10px;
            z-index: 5;
            background-color: var(--pannelColor);
            animation: animateScale 1s ease-in infinite alternate-reverse;
            .bar {
              width: 100%;
              background-color: var(--secColor-1);
              height: 2px;
              position: relative;
              transition: var(--transition);
            }
            .bar::after {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: translateY(-5px);
              background-color: var(--secColor-1);
              content: "";
              transition: var(--transition);
            }
            .bar::before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: translateY(5px);
              background-color: var(--secColor-1);
              content: "";
              transition: var(--transition);
            }
          }
        }
        .right {
          .search {
            display: none;
          }
        }
      }
    }
  }
}
/* Mobiles */
@media screen and (max-width: 599px) {
  .Dashboard {
    > .left {
      width: 100%;
      left: -100%;
      gap: 1rem;
      .logo{
        gap: .5rem;
        img{
          width: 30px;
          height: 30px;
        }
        h1{
          font-size: 1.3rem;
        }
      }
      nav{
        button{
          font-size: 1rem;
          h3{
            font-size: .9rem;
          }
        }
      }
      .btns{
        button{
          padding: 7px 10px;
          h3{
            font-size: .9rem;
          }
        }
      }
    }
    > .right {
      .header {
        .left {
          .menu{
            width: 35px;
            height: 35px;
            padding: 5px;
          }
          .heading {
            h3{
              font-size: .8rem;
            }
            h5{
              font-size: .7rem;
            }
          }
        }
        .right {
          .notification {
            width: 35px;
            height: 35px;
            font-size: 1.2rem;
          }
          .profile {
            width: 35px;
            height: 35px;
            img {
              width: 30px;
              height: 30px;
            }
            .content {
              display: none;
            }
            .icon {
              display: none;
            }
          }
        }
      }
    }
  }
  .Settings{
    .setting{
      .left{
        h3{
          font-size: 1rem;
        }
        h5{
          font-size: .7rem;
        }
        gap: .5rem;
      }
      .right{
        .select{
          font-size: .8rem;
        }
      }
    }
  }
}
/* End responsivess */

@keyframes animateScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
