.Dashboard {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 20px 20px 0 20px;
  position: relative;
  background-color: var(--bgColor-1);
  > .left {
    width: calc(20% - 0.5rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--pannelColor);
    height: calc(100vh - 40px);
    overflow-y: scroll;
    border-radius: 20px;
    gap: 2rem;
    .logo {
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      img {
        width: 40px;
        height: 40px;
      }
      h1 {
        font-weight: 500;
        color: var(--textColor-1);
        font-size: 1.5rem;
      }
    }
    nav {
      flex: 5;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      flex-direction: column;
      button {
        cursor: pointer;
        transition: var(--transition);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        border: none;
        font-size: 1.1rem;
        color: var(--textColor-1);
        background-color: transparent;
        padding: 10px 0 10px 10px;
        border-left: 2px solid transparent;
        h3 {
          font-weight: 400;
          font-size: 0.9rem;
        }
      }
      button:hover {
        color: var(--secColor-2);
        background-color: var(--pannelHoverColor);
        border-left-color: var(--secColor-2);
      }
      button.active {
        color: var(--secColor-2);
        background-color: var(--pannelHoverColor);
        border-left-color: var(--secColor-2);
      }
    }
    .btns {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 0.5rem;
      button {
        transition: var(--transition);
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: var(--pannelHoverColor);
        color: var(--textColor-1);
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        h3 {
          font-size: 0.9rem;
          font-weight: 400;
        }
      }
      button:hover {
        background-color: var(--secColor-2);
        color: #fff;
      }
      button.active {
        background-color: var(--secColor-2);
        color: #fff;
      }
    }
  }
  > .right {
    width: calc(80% - 0.5rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      width: 100%;
      .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        .menu {
          display: none;
        }
        .heading {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 0.2rem;
          flex-direction: column;
          h3 {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--textColor-1);
          }
          h5 {
            font-size: 0.8rem;
            font-weight: 500;
            color: var(--textColor-2);
          }
        }
      }
      .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        .search {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.1rem;
          color: var(--textColor-2);
          border: 1px solid var(--borderColor-1);
          border-radius: 5px;
          padding: 10px;
          input {
            border: none;
            font-size: 0.9rem;
            color: var(--textColor-1);
            font-weight: 400;
            background: transparent;
          }
          input:placeholder-shown {
            color: var(--textColor-2);
          }
          input:focus {
            outline-width: 0;
          }
          input:-webkit-autofill,
          input:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
          }
          input:-webkit-autofill {
            -webkit-text-fill-color: var(--textColor-1);
          }
          input[data-autocompleted] {
            background-color: transparent !important;
          }
        }
        .notification {
          background-color: var(--pannelHoverColor);
          color: var(--textColor-1);
          font-size: 1.5rem;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          cursor: pointer;
          transition: var(--transition);
        }
        .notification:hover {
          color: var(--bgColor-1);
          background-color: var(--secColor-2);
        }
        .profile {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          border-radius: 5px;
          border: 1px solid var(--textColor-2);
          padding: 3px;
          color: var(--textColor-2);
          font-size: 1rem;
          img {
            width: 35px;
            height: 35px;
            border-radius: 5px;
          }
          .content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 0.1rem;
            h3 {
              font-size: 0.9rem;
              font-weight: 400;
              color: var(--textColor-1);
            }
            h5 {
              font-size: 0.7rem;
              font-weight: 300;
              color: var(--textColor-2);
            }
          }
        }
      }
    }
    .box {
      width: 100%;
      overflow-y: scroll;
      table {
        width: 100%;
        color: var(--textColor-1);
        border-collapse: collapse;
        thead {
          tr {
            width: 100%;
            td {
              font-size: 0.8rem;
              padding: 10px;
              text-align: center;
              color: var(--textColor-2);
              border-bottom: 1px solid var(--borderColor-1);
              .checkbox-container {
                color: #fff;
              }
            }
          }
        }
        tbody {
          width: 100%;
          tr.active {
            background-color: var(--pannelColor);
          }
          tr {
            width: 100%;
            .color-td h3 {
              background-color: var(--pannelHoverColor);
              color: var(--secColor-1);
              padding: 5px;
              font-size: 0.7rem;
              border-radius: 3px;
            }
            td {
              padding: 10px;
              text-align: center;
              border-bottom: 1px solid var(--borderColor-1);
              > h3 {
                font-size: 0.8rem;
                font-weight: 400;
              }
              .checkbox-container {
                color: #fff;
              }
              .table-box {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-size: 1.1rem;
                button{
                  font-size: .9rem;
                  color: #fff;
                  padding: 5px 10px;
                  border: none;
                  border-radius: 3px;
                  background-color: transparent;
                  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
                  transition: var(--transition);
                  cursor: pointer;
                }
                button:hover{
                  transform: scale(1.05);
                }
                .icon {
                  cursor: pointer;
                }
                .icon:hover {
                  color: var(--secColor-1);
                }
                h3 {
                  font-size: 0.8rem;
                  font-weight: 400;
                }
                img {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
      .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .item-count {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0.5rem;
          h3 {
            font-size: 0.8rem;
            font-weight: 300;
            color: var(--textColor-2);
          }
          select:focus {
            outline-width: 0;
          }
          select {
            padding: 3px;
            font-size: 0.8rem;
            font-weight: 300;
            color: var(--textColor-1);
            border-radius: 5px;
            border: 1px solid var(--borderColor-1);
            background-color: transparent;
            option {
              color: var(--textColor-1);
              font-size: 0.8rem;
              font-weight: 300;
              background-color: var(--bgColor-1);
            }
          }
        }
        p {
          font-size: 0.8rem;
          font-weight: 300;
          color: var(--textColor-2);
        }
        .paging {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.1rem;
          color: var(--textColor-1);
          h3 {
            font-size: 0.8rem;
            font-weight: 500;
            padding: 5px 10px;
            border: 1.5px solid var(--secColor-1);
            border-radius: 3px;
          }
        }
      }
    }
  }
}

.empty-text-signal {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--textColor-3);
  width: 100%;
  text-align: center;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(10px);
}
.options {
  width: 200px;
  position: absolute;
  top: 30px;
  z-index: 12;
  right: 20px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  align-items: center;
  flex-direction: column;
  background-color: var(--bgColor-1);
  border-radius: 10px;
  padding: 10px;
  gap: 0.5rem;
  .option:last-child {
    color: var(--textColor-3);
    font-size: 1.2rem;
  }
  .option:last-child:hover {
    color: var(--textColor-3);
  }
  .option:hover {
    background-color: var(--secColor-2);
    color: var(--bgColor-1);
  }
  .option {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: var(--transition);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    color: var(--textColor-1);
    h3 {
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
}

.Settings {
  width: 100%;
  border: 1px solid var(--borderColor-1);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  .setting {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--borderColor-1);
    padding-bottom: 10px;
    .left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.2rem;
      h3 {
        font-size: 1.1rem;
        font-weight: 400;
        color: var(--textColor-1);
      }
      h5 {
        font-size: 0.8rem;
        font-weight: 300;
        color: var(--textColor-2);
      }
    }
    .right {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .select {
        border-radius: 5px;
        padding: 5px;
        background-color: var(--pannelHoverColor);
        color: var(--textColor-1);
        font-size: 0.9rem;
        font-weight: 300;
        border: none;
      }
      .select:focus {
        outline-width: 0;
      }
    }
  }
}

.modal {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(10px);
  .add {
    position: absolute;
    animation: animateModalLoad 0.4s ease-in forwards;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: var(--bgColor-1);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    flex-direction: column;
    > h3 {
      font-size: 1.1rem;
      color: var(--textColor-1);
      font-weight: 600;
      padding-bottom: 5px;
      border-bottom: 1px solid var(--borderColor-1);
      width: 100%;
    }
    .searchbar {
      width: 100%;
    }
    form {
      overflow-y: scroll;
      margin-top: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      .content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        h3 {
          font-size: 0.9rem;
          font-weight: 400;
          color: var(--textColor-1);
        }
        .values {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          align-items: center;
          gap: 0.5rem;
          .child {
            width: calc(50% - 0.25rem);
            justify-content: flex-start;
            h3 {
              font-size: 0.8rem;
              font-weight: 300;
            }
          }
        }
      }
      p {
        color: var(--textColor-1);
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 400;
      }
      input,
      select {
        width: 100%;
        border: 1px solid var(--borderColor-1);
        border-radius: 5px;
        padding: 10px;
        font-size: 0.9rem;
        color: var(--textColor-1);
        font-weight: 400;
        transition: var(--transition);
        background: transparent;
      }
      input:placeholder-shown,
      select.placeholder {
        color: #757575;
      }
      input:focus,
      select:focus {
        outline-width: 0;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
      }
      input:-webkit-autofill {
        -webkit-text-fill-color: var(--textColor-1);
      }
      input[data-autocompleted] {
        background-color: transparent !important;
      }
      .btns {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        > input {
          width: calc(50% - 0.5rem);
          cursor: pointer;
        }
        input[type="submit"] {
          border: 1px solid var(--secColor-1);
          background-color: var(--secColor-1);
          color: #fff;
        }
        input[type="submit"]:hover {
          border: 1px solid var(--borderColor-1);
          background-color: transparent;
          color: var(--textColor-1);
        }
        input[type="button"]:hover {
          background-color: var(--secColor-1);
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .Dashboard {
    > .left {
      width: calc(25% - 0.5rem);
    }
    > .right {
      width: calc(75% - 0.5rem);
    }
  }
}

@media screen and (min-width: 1599px) {
  .Dashboard {
    > .left {
      width: calc(15% - 0.5rem);
    }
    > .right {
      width: calc(85% - 0.5rem);
    }
  }
}
/* Tablets */
@media screen and (max-width: 999px) {
  .Dashboard {
    > .left {
      position: absolute;
      z-index: 1;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      transition: var(--transition);
      padding-top: 5rem;
      border-radius: 0;
    }
    > .left.active {
      left: 0;
    }
    > .left.active + .right {
      .header {
        .menu {
          .bar {
            background-color: transparent;
          }
          .bar::after {
            transform: translateY(0) rotate(45deg);
          }
          .bar::before {
            transform: translateY(0) rotate(135deg);
          }
        }
      }
    }
    > .right {
      width: 100%;
      overflow: visible;
      .header {
        .left {
          .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid var(--secColor-1);
            padding: 10px;
            z-index: 5;
            background-color: var(--pannelColor);
            animation: animateScale 1s ease-in infinite alternate-reverse;
            .bar {
              width: 100%;
              background-color: var(--secColor-1);
              height: 2px;
              position: relative;
              transition: var(--transition);
            }
            .bar::after {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: translateY(-5px);
              background-color: var(--secColor-1);
              content: "";
              transition: var(--transition);
            }
            .bar::before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: translateY(5px);
              background-color: var(--secColor-1);
              content: "";
              transition: var(--transition);
            }
          }
        }
        .right {
          .search {
            display: none;
          }
        }
      }
      .box {
        .bottom {
          table thead {
            display: none;
          }
          table,
          table tbody,
          table tbody tr,
          table tbody tr td {
            display: block;
            width: 100%;
          }

          table {
            box-shadow: 0px 0px;
          }

          table tbody tr {
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
            margin-bottom: 2rem;
            overflow: hidden;
            border-radius: 10px;
          }
          table tbody tr td:first-child {
            border-top: 1px solid var(--borderColor-1);
          }
          table tbody tr td {
            text-align: right;
            font-size: 0.8rem;
            padding-left: 50%;
            position: relative;
            border-left: 1px solid var(--borderColor-1);
            border-right: 1px solid var(--borderColor-1);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .color-td h3 {
              width: fit-content;
            }
            .table-box {
              justify-content: flex-end;
            }
          }
          table tbody tr td::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            content: attr(data-name);
            display: flex;
            text-align: left;
            justify-content: flex-start;
            align-items: center;
            padding-left: 15px;
          }
        }
      }
    }
  }
  .modal {
    .add {
      width: 60%;
    }
  }
}
/* Mobiles */
@media screen and (max-width: 599px) {
  .Dashboard {
    > .left {
      width: 100%;
      left: -100%;
      gap: 1rem;
      .logo {
        gap: 0.5rem;
        img {
          width: 30px;
          height: 30px;
        }
        h1 {
          font-size: 1.3rem;
        }
      }
      nav {
        button {
          font-size: 1rem;
          h3 {
            font-size: 0.9rem;
          }
        }
      }
      .btns {
        button {
          padding: 7px 10px;
          h3 {
            font-size: 0.9rem;
          }
        }
      }
    }
    > .right {
      .header {
        .left {
          .menu {
            width: 35px;
            height: 35px;
            padding: 5px;
          }
          .heading {
            h3 {
              font-size: 0.9rem;
            }
            h5 {
              font-size: 0.8rem;
            }
          }
        }
        .right {
          .notification {
            width: 35px;
            height: 35px;
            font-size: 1.2rem;
          }
          .profile {
            width: 35px;
            height: 35px;
            img {
              width: 30px;
              height: 30px;
            }
            .content {
              display: none;
            }
            .icon {
              display: none;
            }
          }
        }
      }
      .box {
        .bottom {
          table tbody tr td:first-child {
            .table-box {
              flex-direction: column;
              align-items: flex-end;
              justify-content: center;
              gap: 0.5rem;
              font-size: 0.8rem;
            }
          }
          table tbody tr td::before {
            padding-left: 10px;
            font-size: 0.7rem;
          }
          .pagination {
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            p{
              text-align: center;
            }
          }
        }
      }
    }
  }
  .Settings {
    .setting {
      .left {
        h3 {
          font-size: 1rem;
        }
        h5 {
          font-size: 0.7rem;
        }
        gap: 0.5rem;
      }
      .right {
        .select {
          font-size: 0.8rem;
        }
      }
    }
  }
  .modal {
    .add {
      width: 90%;
    }
  }
}
/* End responsivess */

@keyframes animateScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes animateModalLoad {
  0% {
    filter: blur(33px);
    transform: translate(-50%, -60%);
  }
  100% {
    filter: blur(0);
    transform: translate(-50%, -50%);
  }
}
